.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* .navContainer {
  display: flex; 
  align-items: baseline; 
  justify-content: space-between;
}

.lead {
  text-align: center;
}

.loginCardCluster {
  text-align: -webkit-center;
}

.loginBtn {
  min-width: 9rem;
}

.landingCard {
  width: 18rem; 
  margin-bottom: 10px;
} */