body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* .jumbotron {
  justify-content: space-around;
} */


.navContainer {
  display: flex; 
  align-items: baseline; 
  justify-content: space-around;
}

.lead {
  text-align: center;
}

.loginCardCluster {
  text-align: -webkit-center;
}

.loginBtn {
  min-width: 9rem;
}

.landingCard {
  max-width: 25rem; 
  margin-bottom: 10px;
}

.postCardFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postOwnerPhoto {
  max-width: 4rem;
  max-height: 4rem;
}

.loginRegForms {
  display: inline-flex;
  justify-content: center;
  margin: .5rem;
}

.regDrop,
.loginDrop {
  min-width: 8rem;
}

.loginDropMenu,
.regDropMenu {
  min-width: 25rem;
}